/*Styling for social media icons in footer*/
.social {
    border-radius: 50%;
    color: maroon;
    border: solid;
    padding: 3px;
    height: 40px;
    margin: 2px;
}

.social:hover {
    background-color: maroon;
    color: white;
    border: solid maroon; 
}

.employee {
    border-radius: 50%;
    height: 100px;
    width: 115px;
}

.pagePhoto {
    width: 100%;
}

.headerPhoto {
/*    opacity: 0.5;*/
}

.footer {
    display: flex;
    justify-content: center;
    padding: inherit;
    border-top: 5px solid #800000;
    border-bottom: 10px solid #800000;
}

.footer p {
    margin: 10px 10px 0 0;
}

.topPhoto {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 250px;
}

.topPhoto h1 {
    color: black;
    opacity: 1;
    text-align: center;
    padding-top: 100px;
    font-size: 5em;
    text-shadow: 2px 2px gray;
}

#index2 {
  background-image: url(images/studio.jpg);  
}

#about {
    background-image: url(images/team.jpg);
}

.card-deck {
    margin-bottom: 20px;
}